
# Python
__pycache__/
*.pyc
.venv/
.env
.env.*
# Node / misc
node_modules/
# OS
.DS_Store
Thumbs.db
# Data and outputs
data/
volumes/
logs/
# Airflow
airflow/logs/
airflow/*.db

# Ignore large JARs and data files
aws-java-sdk-bundle-1.12.772.jar
hadoop-aws-3.3.4.jar
data_source/
.gitattributes

